@CHARSET "ISO-8859-1";

div {
	background-color: green;
	height: 110%;
	width: 100%;	
}

/* Selector for table */ 
table {
	border: medium;
	border-color: black;
	background-color: black;
	position: relative;
	left: 33%;
}

td {
	height: 150px;
	width: 150px;	
}

tr {
	height: 150px;
	width: 150px;
}

img {
	height: 150px;
	width: 150px;
}
a {
	background-color:black;
	position: relative;
	height: 200px;
	width: 200px;
}

#title{
	text-align:center;
	height: 100%;
	width: 100%;
	float: center;
	font-size: xx-large;
	font-style: oblique;
	padding-left: 43%;
}

#link{
	text-align:center;
	position: center;
	height: 100%;
	width: 100%;
	padding-left: 33%;
	font-size: large;
	font-style: arial;
}

#link2{
	text-align:center;
	height: 100%;
	width: 100%;
	font-size: x-large;
	font-style: arial;
	
}