@CHARSET "ISO-8859-1";
div5 {
	position: absolute;
	background-color: #000000;
	height: 200px;
	width: 100%;
	
}

div {
	position: absolute;
	background-color: #4ad76d;
	top: 16px;
	left: 1.5%;
	height: 184px;
	width: 98%;
}

div2 {
	position: relative;
	background-color: #00ff00;
	top: 300px;
	height: 200px;
	width: 200px;
	left: 42%;
}

div3{
	position: absolute;
	background-color: #4ad76d;
	left: 20px;
	top: 208px;
	height: 100%;
	width: 13.5%;
}

div4{
	position: absolute;
	background-color: #4ad76d;
	right:8px;
	top: 208px;
	height: 100%;
	width: 13%;
}
div6{
	position: absolute;
	background-color: #000000;
	top: 208px;
	height: 100%;
	width: 15%;
}

div7{
	position: absolute;
	background-color: #000000;
	right:-8px;
	top: 208px;
	height: 100%;
	width: 15%;
}

divconteudo{
	position: absolute;
	left: 15.6%;
	top: 208px;
	height: 100%;
	width: 70%;
	
}

img1{
	position: relative;
	left: 15%;
	top: 30%;
	height: 200px;
	width: 200px;
}

img2{
	position: relative;
	left: 18%;
	top: 30%;
	height: 200px;
	width: 200px;
}

img3{
	position: relative;
	left: 21%;
	top: 30%;
	height: 200px;
	width: 200px;
}

c{
	font-size: xx-large;
}

textoPg{
	position: absolute;
	font-size: larger;
	top: 300px;
	left: 5%;
	height: 50%;
	width: 90%;
}

textoPg1{
	position: absolute;
	top: 300px;
	left: 5%;
	height: 50%;
	width: 90%;
}

div10{
	position: absolute;
	background-color: #00ff00;
	left: 10%;
	top: 75px;
	height: 150px;
	width: 80%;
	}
	
div11{
	position: absolute;
	background-color: #ff0000;
	left: 10%;
	top: 250px;
	height: 150px;
	width: 80%;
	}

div12{
	position: absolute;
	background-color: #0000ff;
	left: 10%;
	top: 425px;
	height: 150px;
	width: 80%;
	}
	
div20{
	float: left;
	background-color: #ffffff;
	height: 150px;
	width: 25%;
}

divcadastro{
	position: absolute;
	left: 10%;
	top: 75px;
	height: 85%;
	width: 80%;
}

div90{
	position: absolute;
	top: 120px;
	left: 5%;
	height: 90%;
	width: 90%;
}

div91{
	position: absolute;
	height: 100%;
	width: 34%;
}
div92{
	position: absolute;
	left: 34%;
	height: 100%;
	width: 33%;
}
div93{
	position: absolute;
	left: 67%;
	height: 100%;
	width: 33%;
}